/*****************
Defaults
*****************/
a {
	text-decoration: none;
	color: rgb(64, 148, 244);
	cursor: pointer;
}
ul {
	list-style-type: none;
}

/*****************
Navigation
*****************/
nav {
	height: 56px;
  line-height: 56px;
}

.text-center {
	text-align: center;
}
.border-dash {
	border: 1.4px solid #4183c4;
	padding: 7px;
	border-radius: 2rem;
}
.blue-green {
	background-color: #063053;
}
.blue-grey {
	background-color: #fff;
}
.blue-font {
	color: #4183c4;
}
.bold {
	font-weight: bold;
	font-size: 19px;
}
/*****************
Section -- Images
*****************/
.off-white {
	color: #f7f7f7;
}
section.instagram-main {
	height: 400px;
	margin-top: 3rem;
}
section {
	padding-left: 0;
	padding-right: 0;
}
/*****************
IMG FEED
****************/
img.instagram {
	border: 0;
  height: 5rem;
  width: 5rem;
  padding-right: 7px;
  border-radius: 3rem;
}



/*****************
Buttons
*****************/
.small-round-button {
  border-radius: 2.5rem;
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  border: 1px solid #fff;
  display: inline-block;
  margin-top: 2.2rem;
}

/*****************
Guts
*****************/
.padding-all-1_25 {
	padding: 1.25rem;
}
.margin_top_2 {
	margin-top: 2rem;
}


/******************
List Icons
*****************/
ul.list-inline {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}
ul {
	padding: 0;
}

/******************
Map
*****************/
.angular-google-map-container { 
	height: 200px;
	width: 100%; 
}
.black {
	color: black;
}
