/*****************
Defaults
*****************/
a {
	text-decoration: none;
	color: rgb(64, 148, 244);
	cursor: pointer;
}
ul {
	list-style-type: none;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.right{
  float: right;
}

/*****************
Navigation
*****************/
nav {
	height: 56px;
  line-height: 56px;
}

.text-center {
	text-align: center;
}
.border-dash {
	border: 1.4px solid #4183c4;
	padding: 7px;
	border-radius: 2rem;
}
.blue-green {
	background-color: #063053;
}
.blue-grey {
	background-color: #fff;
}
.blue-font {
	color: #4183c4;
}
.bold {
	font-weight: bold;
	font-size: 19px;
}
/*****************
Section -- Images
*****************/
.normal-ul {
  padding: 0;
  margin: 0;
  border: none;
}
.flex-container {
  display: flex;
}
.off-white {
	color: #f7f7f7;
}
.instagram-main {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.thumbnail {
/*  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 75px;
  height: 75px;*/
}
.name {
  text-align: left;
  font-size: .8em;
  margin: 0;
}
.info {
  font-size: .8em;
  padding: 0 8px 0 60px;
}
.bio {
  margin: 0;
}
.votes {
  margin: .02em 0;
}
section {
	padding-left: 0;
	padding-right: 0;
}
/*****************
IMG FEED
****************/
.instagram {
  border-radius: 9rem;
}
/*****************
FONT COLOR
****************/
.white {
	color: white;
}

/*****************
Buttons
*****************/
.small-round-button {
  border-radius: 2.5rem;
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  border: 1px solid #fff;
  display: inline-block;
  margin-top: 2.2rem;
}

/*****************
Guts
*****************/
.padding-all-1_25 {
	padding: 1.25rem;
}
.margin_top_2 {
	margin-top: 2rem;
}
.margin_right_1 {
  margin-right: 1rem;
}


/******************
List Icons
*****************/
ul {
	/*border-right: 1px solid white;*/
	padding-left: 0px;
	padding-right: 0.625rem;
}
ul.list-inline {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
  margin-top: 6.875rem;
  border-top: 1px solid	white;
  border-right: none;
}

.no-border {
	border: none;
}

/******************
Map
*****************/
.angular-google-map-container { 
	height: 200px;
	width: 100%; 
}
.black {
	color: black;
}
/****************
Carosel
*******************/
.carousel-indicators {
	display: none;
}
img.instagram.ng-scope {
  height: 100px;
  width: 100px;
  border-radius: 10rem;
}
.carousel-control  {
	display: none;
}