<ul class="normal-ul">
  <li class="flex-container instagram-main text-center padding-all-1_25 off-white" ng-repeat="user in instagramUsers" ng-click="#/feed/{{user.username}}">
    <div>
  		<a class="thumbnail" ng-href="#/feed/{{user.username}}">
        <img ng-src="{{user.profile_picture}}" height="75" width="75"  alt="{{user.full_name}}" />
      </a>
      <a ng-href="#/feed/{{user.username}}">
        <h2 class="name">{{user.full_name}}</h2>
      </a>
    </div>
    <div>
      <div class="info">
    		<p class="bio">{{user.bio}}</p>
    		<!-- <a ng-click="addVotes(user.id)" class="small-round-button">+1</a> -->
      </div>
    </div>  
    <h3 class="votes" ng-if="data.users[user.id].voteCount">Total Votes {{data.users[user.id].voteCount}}</h3>
  </li>
</ul>
