<section ng-controller="InstagramFeedCtrl" class="text-center off-white">
 <ui-gmap-google-map 
 	center="map.center" 
 	zoom="map.zoom" 
 	draggable="true" 
 	options="options">
        <ui-gmap-marker 
        	coords="marker.coords" 
        	options="marker.options" 
        	events="marker.events" 
        	idkey="marker.id">
        </ui-gmap-marker>
</ui-gmap-google-map>
	<!--FOR ADMIN 
		<form>
		<input type="text" ng-model="location.lat" />
		<input type="text" ng-model="location.lon" />
		<button ng-click="setMarker(location)">Sumbit</button>
	</form>
	<button ng-click="getLocation()">Get Location</button>
	<button ng-click="getLocationFromFireBase()">Push to Firebase</button> -->
	<ul class="list-inline">
		<ul>
			<li><i class="fa fa-map-marker"></i></li>
			<li>Galliven Center</li>
		</ul>
		
		<ul>
			<li><i class="fa fa-arrows-h"></i></li>
			<li>Get Directions</li>
		</ul>	
		
		<ul>
			<li class="no-border"><i class="fa fa-phone"></i></li>
			<li  class="no-border">555-555-5555</li>
		</ul>
	</ul>
	<div>
    <data-owl-carousel class="owl-carousel">
      <div owl-carousel-item="" ng-repeat="item in groupedSlides" class="item">
        <img class="instagram" ng-src="{{item.image}}">      
      </div>
    </data-owl-carousel>
 </div>   
</section>